[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
django = "==5.2"
pylint = "*"
gunicorn = "*"
whitenoise = "*"
django-tastypie = "*"
psycopg2-binary = "*"
djangorestframework = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.13"
